<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Sudoku spielen</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
  <link rel="stylesheet" href="css/remodal.css">
  <link rel="stylesheet" href="css/remodal-default-theme.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.nice-select.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
  <script src="js/remodal.js"></script>
  <script src="js/main-ui.js"></script>

  <% if @stashed_game.present? %>
    <script>
      var stashedGame = <%= @stashed_game.to_json %>
    </script>
  <% end %>
</head>
<body>


  <header class="header">
    <div class="container">
      <div class="row clearfix">
        <div class="column half relative">
          <a href="/" class="header-logo"></a>
          <a href="javascript:void(0)" class="hamburger mobile"></a>
        </div>
        <div class="column half desktop">
          <div class="header-social desktop">
            <a href="http://facebook.com/" target="_blank"><img src="/img/icon-facebook.png" alt="Facebook"></a>
            <a href="http://plus.google.com/" target="_blank"><img src="/img/icon-google.png" alt="Google"></a>
            <a href="http://twitter.com/" target="_blank"><img src="/img/icon-twitter.png" alt="Twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <nav class="nav top">
    <div class="container">
      <div class="row clearfix">
        <div class="column full clearfix no-padding mobile">

          <div class="left-side desktop nav-items">
            <a href="/" class="nav-item">Sudoku Spielen</a>
            <a href="#" class="nav-item">Vorschriften</a>
            <a href="/regeln" class="nav-item">Regeln</a>
            <a href="#" class="nav-item">Strategie</a>
            <a href="/geschichte" class="nav-item">Geschichte Sudoku</a>
          </div>

          <div class="right-side">
            <% if current_user.present? %>
              <a href="javascript:void(0)" class="nav-auth logged">
                <i class="icon-user"></i>
                <span><%= current_user.name %></span>
              </a>
            <% else %>
              <a href="javascript:void(0)" class="nav-auth">
                <i class="icon-auth"></i>
                <span>Authorization</span>
              </a>
            <% end %>

            <a href="javascript:void(0)" class="nav-best"></a>

            <div class="best-players mobile best-dropdown">
              <div class="best-players-head">
                <span>Best players</span>
              </div>
              <div class="best-players-body">
                <div class="item">
                  <span class="number">1</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">2</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">3</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">4</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">5</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">6</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">8</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">9</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="item">
                  <span class="number">10</span>
                  <span class="name">harry.kiselev</span>
                </div>
                <div class="text aligned center">
                    <a href="/rangliste">All players</a>
                </div>
              </div>
            </div>

            <div class="auth-dropdown">
              <div class="logged">
                <% if current_user.present? %>
                  <form action="/sign_out" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn primary">Sign out</button>
                  </form>
                <% end %>
              </div>

              <div class="unlogged <% if current_user.present? %>
                                   <%= 'hidden' %>
                                   <% end %>">
                <form action="/sign_in" method="POST" >
                  <input type="text" placeholder="E-mail" name="email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <input type="password" placeholder="Password" name="password" required="">
                  
                  <div class="toogle-block">
                    <a href="javascript:void(0)" class="toggle-link tr-open" data-block-name="block-lost-password">Lost password?</a>
                  </div>
                  <div data-block-name="block-lost-password" class="hidden">
                      <input type="text" placeholder="E-mail" id="c-resend-email">
                      <a href="javascript:void(0)" class="btn" id="send-password-btn">Send password</a>
                  </div>

                  <button type="submit" class="btn" id="sign-in-btn">Sign in</button>
                </form>

                <div class="toogle-block">
                  <a href="javascript:void(0)" class="toggle-link tr-open" data-block-name="block-registration">Registration</a>
                </div>
                <div data-block-name="block-registration" class="hidden">
                  <form action="/sign_up" method="POST">
                    <div class="form-error" id="error-register-email">Email already taken</div>
                    <input type="text" placeholder="E-mail" name="email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="c-register-email">
                    <input type="text" placeholder="Username" name="name" required="">
                    <input type="password" placeholder="Password" id="c-password" name="password" required="">
                    <input type="password" placeholder="Confirm password" id="c-confirm_password" required="">
                    <button type="submit" class="btn">Sign up</button>
                  </form>

                  <script>
                    var password = document.getElementById("c-password")
                      , confirm_password = document.getElementById("c-confirm_password");

                    function validatePassword(){
                      if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords Don't Match");
                      } else {
                        confirm_password.setCustomValidity('');
                      }
                    }

                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                  </script>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>


  <main class="main">
    <%= yield %>
  </main>


  <nav class="nav bottom">
    <div class="container">
      <div class="row clearfix">
        <div class="column full clearfix no-padding mobile">

          <div class="left-side desktop">
            <a href="/" class="nav-item">Sudoku Spielen</a>
            <a href="#" class="nav-item">Vorschriften</a>
            <a href="/regeln" class="nav-item">Regeln</a>
            <a href="#" class="nav-item">Strategie</a>
            <a href="/geschichte" class="nav-item">Geschichte Sudoku</a>
          </div>

        </div>
      </div>
    </div>
  </nav>


  <footer class="footer">
    <div class="container">
      <div class="row clearfix">
        <div class="column half">
          <span class="footer-copyright">Sudoku-Spielen &copy; 2016</span>
        </div>
        <div class="column half">
          <div class="footer-social">
            <a href="http://facebook.com/" target="_blank"><img src="/img/icon-facebook.png" alt="Facebook"></a>
            <a href="http://plus.google.com/" target="_blank"><img src="/img/icon-google.png" alt="Google"></a>
            <a href="http://twitter.com/" target="_blank"><img src="/img/icon-twitter.png" alt="Twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <div class="remodal" data-remodal-id="modal-send" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Your message have sent!</h1>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-restore" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>New password has been sent <br>to your Email!</h1>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-restore-fail" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Incorrect email!</h1>
    <div class="text aligned center">
      <img src="img/icon-wrong.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-validate" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>This fields cannot be blank. Please, check again</h1>
    <div class="text aligned center">
      <img src="img/icon-wrong.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-please-auth" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Please, sign-in or register for using this feature</h1>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":)">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-solution-wrong" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Your solution is wrong!</h1>
    <div class="text aligned center">
      <img src="img/icon-wrong.png" alt=":(">
    </div>
    <br>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-solution-correct" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Congratulations!</h1>
    <p>Your solution is correct. But your scores is zero, sorry.</p>
    <div class="text aligned center">
      <img src="img/icon-correct.png" alt=":)">
    </div>
    <div class="text aligned center">
      <div class="modal-results">Time: <span class="res-time"></span></div>
      <div class="modal-results">Score: <span class="res-score"></span></div>
    </div>
    <div class="text aligned center modal-social">
      <p>Your solution is correct</p>
      <div class="modal-social-icons">
      </div>
    </div>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="remodal" data-remodal-id="modal-saves" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Saves</h1>
    <% if current_user %>
    <table class="saves">
      <% if @stashed_games %>
      <% @stashed_games.each do |game| %>
      <tr class="saves-item stassh">
        <td class="saves-item-mark marked"></td>
        <td class="saves-item-date"><%= game.created_at.strftime("%b %d, %H:%M") %></td>
        <td class="saves-item-score desktop">Scores: <%= game.scores %></td>
        <td class="saves-item-time desktop">Time: <span class="t_time"><%= game.time %></span></td>
        <td class="saves-item-ctrls">
          <a href="/?stashed_game=<%= game.id %>" class="load-save">Load game</a>
          <a href="#" class="delete-save" data-stash-id="<%= game.id %>"></a>
        </td>
      </tr>
      <tr class="spacer"></tr>
      <% end %>
      <% end %>
      <tr class="saves-item">
        <td class="saves-item-mark"></td>
        <td class="saves-item-date empty">Empty</td>
        <td class="saves-item-score desktop"></td>
        <td class="saves-item-time desktop"></td>
        <td class="saves-item-ctrls"><button class="btn primary" id="stash-btn">Save</button></td>
      </tr>
    </table>
    <% end %>
    <div class="text aligned center">
      <a href="javascript:void(0)" data-remodal-action="close">Close window</a>
    </div>
  </div>

  <div class="overlay"></div>


  <script data-main="/js/main" src="js/ext/require.js"></script>
</body>
</html>
