<%= erb :hbanner, :layout => false %>

<div class="headline">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <h1>Sudoku kostenlos online spielen</h1>
      </div>
    </div>
  </div>
</div>

<div class="content marked">
<div class="container">
  <div class="row clearfix">
    <div class="column full">
      <div class="row clearfix">
        <div class="column full no-padding desktop">
          <p class="text">Sudoku ist eines der beliebtesten Zahlenrätsel. Das Spiel wird regelmäßig in den Zeitungen und 
Zeitschriften auf der ganzen Welt veröffentlicht. Extra für Sie haben wir die Online-Version des klassischen Sudoku-Spiels entwickelt. Sudoku-Rätsel lösen ist der beste Weg, sich zu konzentrieren und die Freizeit nützlich zu verbringen.</p>
        </div>
      </div>
      <div class="row clearfix game-row">
        <div class="column two-thirds no-padding mobile left-overwrite">
          <div class="row clearfix grid-controls relative">
            <div class="controls">
              <div class="ctrl floated left">
                <select class="generate">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                  <option value="expert">Expert</option>
                  <option value="insane">Insane</option>
                </select>
                <button class="btn new-game tngame">New Game</button>
                <div class="timer">
                  <i class="icon timer"></i>
                  <span id="timer">00:00:00</span>
                </div>
              </div>

              <div class="ctrl floated right">
                <button class="btn primary game" id="solve-btn">Solve</button>
                <button class="btn primary game" id="clear-btn">Clear</button>
                <button class="btn primary game" id="hint-btn">Hint</button>
                <button class="btn primary game" id="check-btn">Check</button>
                <button class="btn primary game" id="pause-btn">Pause</button>
              </div>

            </div>
          </div>
          <div id="grid-wrapper"></div>
          <div class="text-center">
            <button class="btn new-game bngame">New Game</button>
          </div>
        </div>

        <div class="column third flow-opposite no-pad-side right-overwrite">
          <div class="game-menu">
            <% if current_user %>
              <div class="item">
                <i class="icon save"></i>
                <a href="javascript:void(0)" data-remodal-target="modal-saves">Save/Load game</a>
              </div>
            <% else %>
              <div class="item">
                <i class="icon save"></i>
                <a href="javascript:void(0)" data-remodal-target="modal-please-auth">Save/Load game</a>
              </div>
            <% end %>
            <div class="item">
              <i class="icon print"></i>
              <a href="javascript:void(0)" id="print-btn">Print</a>
            </div>
            <div class="item">
              <br>
              <% if current_user.present? %>
                Score: <strong><%= current_user.scores %></strong>
              <% end %>
            </div>
          </div>

          <div class="best-players desktop">
            <div class="best-players-head">
              <i class="best-player-icon"></i>
              <span>Best players</span>
            </div>
            <div class="best-players-body">
              <% @top_players.each_with_index do |player, index| %>
                <div class="item">
                  <span class="number"><%= index+1 %></span>
                  <span class="name"><%= player.name %></span>
                </div>
              <% end %>
              <div class="text aligned center">
                  <a href="/rangliste">All players</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="column fifth desktop">
      <a href="#" class="banner vertical">
        <img src="img/banner-vertical.png" alt="">
      </a>
    </div> -->
  </div>
</div>
</div>

<div class="container">
  <div class="row clearfix">
    <div class="column full rangliste">
      <br><br>
      <h2>Rangliste der Spieler</h2>

      <table class="table" cellspacing="0">
        <thead>
          <th class="col-id text aligned right">#</th>
          <th class="col-username text aligned left">Username</th>
          <th class="col-easy text aligned right desktop">Easy</th>
          <th class="col-medium text aligned right">
            <div class="desktop">Medium</div>
            <div class="mobile">
              <select class="level">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
                <option value="expert">Expert</option>
                <option value="insane">Insane</option>
              </select>
            </div>
          </th>
          <th class="col-hard text aligned right desktop">Hard</th>
          <th class="col-expert text aligned right desktop">Expert</th>
          <th class="col-insane text aligned right desktop">Insane</th>
          <th class="col-score text aligned right">Score</th>
          <th class="col-last text aligned right">Last Played</th>
        </thead>

        <tbody>
          <% @top_players.each_with_index do |player, index| %>
          <tr>
            <td class="text aligned right"><%= index+1 %></td>
            <td class="text medium"><%= player.name %></td>
            <td class="text aligned right desktop"><%= player.game_counter.easy %></td>
            <td class="text aligned right"><%= player.game_counter.medium %></td>
            <td class="text aligned right desktop"><%= player.game_counter.hard %></td>
            <td class="text aligned right desktop"><%= player.game_counter.expert %></td>
            <td class="text aligned right desktop"><%= player.game_counter.insane %></td>
            <td class="text medium aligned right"><%= player.scores %></td>
            <td class="text col-last aligned right"><%= player.game_counter.updated_at.strftime("%b %d, %Y") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text aligned center">
        <a href="/rangliste">Vollständige Rangliste anzeigen</a>
      </div>
      <br><br><br>
    </div>
  </div>
</div>

<div class="content marked">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <img class="image floated" src="img/img-index.png" alt="Sudoku">
        <p>Um der Rangliste hinzufügen zu können, müssen Sie sich anmelden. Nach der Anmeldung werden Sie für jede Sudoku-Lösung Punkte bekommen. Je mehr Punkte Sie bekommen, desto höher werden Sie an der Rangliste sein. Melden Sie sich für das Spiel an, wählen Sie die gewünschte Schwierigkeitsstufe und laden Sie Ihre Freunde ein, mit denen Sie wetteifern können!</p>

        <h1>Spielregeln</h1>

        <p>Um ein Sudoku zu lösen, müssen Sie die leeren Zellen des Spielfeldes mit Ziffern von 1 bis 9 so füllen, dass jede Ziffer in jeder Zeile, Spalte und in jedem 3х3-Block genau einmal vorkommt. Um Sudoku zu spielen, brauchen Sie keine speziellen mathematischen oder rechnerischen Fertigkeiten zu haben.</p>

        <p>Um zu beginnen, wählen Sie die Schwierigkeitsstufe: sehr leicht, leicht, mittelschwer, schwer und sehr schwer. Je höher die Schwierigkeitsstufe ist, desto weniger Zellen werden am Anfang des Spiels mit den Ziffern (von 1 bis 9) gefüllt. Keine Sorge, man kann ein Profi werden, auch wenn man mit einer leichten Stufe beginnt. Je nach der Schwierigkeitsstufe und Übung brauchen Sie von 5 bis 30 Minuten, um ein Sudoku zu lösen. Wir empfehlen Ihnen, sich mit den grundlegenden Lösungstechniken des Sudoku vertraut zu machen.</p>

        <p>Neue Ziffern einzugeben und die früher eingegebenen Ziffern zu korrigieren darf man nur in leeren Sudoku-Feldern, die von Anfang an nicht gefüllt waren. Um eine Ziffer zu löschen, wählen Sie die Zelle und drücken Sie die Taste „Löschen“ oder geben Sie ersatzweise eine neue Ziffer ein. Rote Ziffern bedeuten, dass die Spielfelder regelwidrig gefüllt sind. Prüfen Sie das Ganze aufmerksam durch, finden Sie die Fehler und korrigieren Sie sie.</p>
      </div>
    </div>
  </div>
</div>
